{% extends "base.html" %}
{% load static %}
{% block title %}Explore{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'home/css/styles.css' %}" />{% endblock link %}
{% block content %}

<main class="gallery">
  <img src="{% static 'home/images/explore1.jpeg' %}" alt="img1">
  <img src="{% static 'home/images/explore2.jpeg' %}" alt="img2">
  <img src="{% static 'home/images/explore3.jpeg' %}" alt="img3">
  <img src="{% static 'home/images/explore4.jpeg' %}" alt="img4">
  <img src="{% static 'home/images/explore5.jpeg' %}" alt="img5">
  <img src="{% static 'home/images/explore6.jpeg' %}" alt="img6">
  <img src="{% static 'home/images/explore7.jpeg' %}" alt="img7">
  <img src="{% static 'home/images/explore8.jpeg' %}" alt="img8">
  <img src="{% static 'home/images/explore9.jpeg' %}" alt="img9">
  <img src="{% static 'home/images/explore10.jpeg' %}" alt="img10">
  <img src="{% static 'home/images/explore11.jpeg' %}" alt="img11">
  <img src="{% static 'home/images/explore12.jpeg' %}" alt="img12">
  <img src="{% static 'home/images/explore13.jpeg' %}" alt="img13">
  <img src="{% static 'home/images/explore14.jpeg' %}" alt="img14">
</main>

{% endblock content %}